#header {
	width:99%;
	overflow:hidden;
	height: 23%;
	margin: -1%;
	padding-left:1.5%;
}

#image_header {
	width:40%;
	overflow:hidden;
	height: 90%;
	margin: -1%;
	padding-left:1%;
	padding-top:1%;
	display:inline-block;
}

body {
	font-family: arial, sans-serif;
	background-color:  white;
	overflow-x: hidden;
}

img {
	display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

#table_header {
	font-family: arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	width:48%;
	display: inline-block;
	text-align: center;
	margin-top:-1%;
	padding-bottom: 7px;
}

.text .italics{
	display:inline-block;
}

.italics {
	font-style: italic;
	font-weight: bold;
}

.small {
	font-size:10px;
}

#instructions_header{
	display: inline-block;
	width: 50%;
	word-wrap: break-word;
	margin:1%;
	padding: 0.5%;
	background-color: #ffff66;
	border-radius: 20px;
	border: 5px solid red;
	float: right;
	font-size: 22px;
}

#koalinfo_table, #koallaboration_table {
	width:48%;
	height: 92%;
	table-layout: fixed;
	display: inline-block;
	overflow-y: auto;
	margin-left: 1%;
	font-size: 22px;
}

#koalinfo_table {
	background-color: #8cc0a2;
}

#koallaboration_table {
	background-color: #9f90bb;
}

table  {
	font-family: arial, sans-serif;
	font-size: 22px;
	width:100%;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: break-all;
	
}

#two_tables {
	height: 83%;
	width:98%;
}

table td {
	border: 1px solid #dddddd;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 1%;
	padding-right: 1%;
	width:1%;
}

#koalinfo_table tr:nth-child(even) {
	background-color: rgba(221, 221, 221,0.5);
}

#inner_koallaboration_table tr:nth-child(even) {
	background-color: rgba(221, 221, 221,0.5);
}

input {
	font-size:15px;
	width: 50%;
	height: 25%;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

#add_form {
	padding: 1%;
	display: inline-block,
}

#add_koalin{
	display: block;
}

#koalin_type {
	display: inline-block;
}

.reply_button {
	font-size:15px;
	font-weight:bold;
	margin-left: 1%;
	padding:3px;
}

.reply_cell{
	padding-left: 20%;
}

button{
	background-color:#482e74;
	border-radius:8px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom-color:#f6f4f9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:30px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin: 8px;
}
button:hover {
	background-color:#4c986d;
}

