#image_header {
	width:100%;
	height: 100px;
	margin: -10px;
	padding-left:20px;
}

body {
	font-family: arial, sans-serif;
	background-color:  #b4e19d;
}

img {
	display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

#header {
	font-family: arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	width:48%;
	display: inline-block;
	text-align: center;	
	padding-bottom: 7px;
}

.text .italics{
	display:inline-block;
}

.italics {
	font-style: italic;
	font-weight: bold;
}

#instructions_header{
	display: inline-block;
	width: 335px;
	word-wrap: break-word;
	margin: 12px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #ffff66;
	border-radius: 20px;
	float: right;
}

#koalinfo_table, #koallaboration_table {
	width:48%;
	height: 92%;
	table-layout: fixed;
	display: inline-block;
	overflow-y: auto;
	margin-left: 16px;
}

table  {
	font-family: arial, sans-serif;
	font-size: 16px;
	width:100%;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: break-all;
	
}

#two_tables {
	height: 87%;
	width:100%;
}

table td {
	border: 1px solid #dddddd;
	padding: 7px;
}

table tr:nth-child(even) {
	background-color: #dddddd;
}

input {
	font-size:15px;
	width: 50%;
	height: 25%;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

#add_form {
	padding: 5px;
	display: inline-block,
}

#add_koalin{
	display: block;
}

#koalin_type {
	display: inline-block;
}

.reply_button {
	font-size:15px;
	font-weight:bold;
	margin-left: 20px;
	padding:2px 2px;
}

.reply_cell{
	padding-left: 70px;
}

button{
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin: 8px;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

